extends home
block content


    div(class="bg-gray-50 py-10 lg:py-16")
        div(class=" container px-4 md:px-6")

            div(class=" grid gap-6 lg:grid-cols-2 xl:gap-10")
                div(class=" flex lg:flex-row items-center")
                    img(src="https://media.istockphoto.com/id/951225926/vector/news-update-online-illustration-vector-newspaper-website-concept-announcements-internet.jpg?s=612x612&w=0&k=20&c=0Tfz4_AjRDY6bTv6CTar5RDxEa7xhFjUCvLaFsurWAA=", width="600", height="300", alt="Ford Focus", class="mx-auto aspect-video overflow-hidden rounded-xl object-top")
                if (user)
                    if (user.role =='assign' )
                        div(class=" flex flex-col justify-center space-y-4")
                            h2(class="text-3xl font-bold tracking-tighter sm:text-4xl sm:leading-[3.5rem]")
                                |Hire the best Freelancers for any job online and it done .... 
                            p(class=" max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400")   
                                li.text-xl.font-semibold World's largest freelance marketplace
                                li.text-xl.font-semibold Any job you can possibly think of
                                li.text-xl.font-semibold Save up to 90% & get quotes for free
                                li.text-xl.font-semibold Pay only when you're 100% happy
                else 
                    div(class=" flex flex-col justify-center space-y-4")
                        h2(class="text-3xl font-bold tracking-tighter sm:text-4xl sm:leading-[3.5rem]")
                            |Get Work as You need and help the community 
                        p(class=" max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400")   
                            li.text-xl.font-semibold World's largest freelance marketplace
                            li.text-xl.font-semibold Any job you can possibly think of
                            li.text-xl.font-semibold Save up to 90% & get quotes for free
                            li.text-xl.font-semibold Pay only when you're 100% happy

                if (user)
                    if (user.role =='user' )
                        div(class=" flex flex-col justify-center space-y-4")
                            h2(class="text-3xl font-bold tracking-tighter sm:text-4xl sm:leading-[3.5rem]")
                                |Get Work as You need and help the community 
                            p(class=" max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400")   
                                li.text-xl.font-semibold World's largest freelance marketplace
                                li.text-xl.font-semibold Any job you can possibly think of
                                li.text-xl.font-semibold Save up to 90% & get quotes for free
                                li.text-xl.font-semibold Pay only when you're 100% happy
                else 
                    div(class=" flex flex-col justify-center space-y-4")
                        h2(class="text-3xl font-bold tracking-tighter sm:text-4xl sm:leading-[3.5rem]")
                            |Assign the Project whatever you want 
                        p(class=" max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400")   
                            li.text-xl.font-semibold World's largest freelance marketplace
                            li.text-xl.font-semibold Any job you can possibly think of
                            li.text-xl.font-semibold Save up to 90% & get quotes for free
                            li.text-xl.font-semibold Pay only when you're 100% happy

                    img(src="https://img.freepik.com/premium-vector/home-office-concept-man-working-from-home-student-freelancer-freelance-studying-concept-flat-style_186332-209.jpg", width="600", height="300", alt="Ford Focus", class="mx-auto aspect-video overflow-hidden rounded-xl object-top")
                //- if (user.role != 'assign' && user.role != 'user' )
                    div(class=" flex flex-col justify-center space-y-4")
                        h2(class="text-3xl font-bold tracking-tighter sm:text-4xl sm:leading-[3.5rem]")
                            |Get Work as You need and help the community 
                        p(class=" max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400")
                            li.text-xl.font-semibold World's largest freelance marketplace
                            li.text-xl.font-semibold Any job you can possibly think of
                            li.text-xl.font-semibold Save up to 90% & get quotes for free
                            li.text-xl.font-semibold Pay only when you're 100% happy


                //- if (user.role != 'assign' && user.role != 'user' )
                    div(class=" flex flex-col justify-center space-y-4")
                        h2(class="text-3xl font-bold tracking-tighter sm:text-4xl sm:leading-[3.5rem]")
                            |Get the best Projects hear
                        p(class=" max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400")
                            li.text-xl.font-semibold World's largest freelance marketplace
                            li.text-xl.font-semibold Any job you can possibly think of
                            li.text-xl.font-semibold Save up to 90% & get quotes for free
                            li.text-xl.font-semibold Pay only when you're 100% happy



        section(class=" grid gap-6 lg:grid-cols-3 lg:gap-12")
            div(class=" flex flex-col items-center justify-center space-y-2 text-center")
                div.w-50
                    img(src="https://img.freepik.com/free-vector/digital-designers-team-drawing-with-pen-computer-monitor_74855-10586.jpg")
                h3.text-xl.font-bold
                    | Advanced Safety Features
                p(class=" text-sm text-gray-500 md:text-base/relaxed lg:text-xl/relaxed xl:text-base/relaxed  ")
                    | The Ford Focus comes with a suite of advanced safety features to help keep you and your passengers safe on the road  From automatic emergency braking to lane-keeping assist, the     Focus has you covered.
            div(class=" flex flex-col items-center justify-center space-y-2 text-center my-5")
                div.w-50
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg_WupiV5MYz1hWz5-i7-Cnw6ob9-YW1zldxyLY48DkQgysII2CizuSdlZoxPi-2ikVPA&usqp=CAU" , class="w-100 h-100 rounded")
                h3.text-xl.font-bold
                    | Advanced Safety Features
                p(class=" text-sm text-gray-500 md:text-base/relaxed lg:text-xl/relaxed xl:text-base/relaxed  ")
                    | The Ford Focus comes with a suite of advanced safety features to help keep you and your passengers safe on the road  From automatic emergency braking to lane-keeping assist, the     Focus has you covered.
            div(class=" flex flex-col items-center justify-center space-y-2 text-center")
                div.w-50
                    img(src="https://t3.ftcdn.net/jpg/04/26/00/56/360_F_426005679_rgr70wuepam7zXfdksKt6aaWjzF2BDls.jpg" , class="w-100 h-100")
                h3.text-xl.font-bold
                    | Advanced Safety Features
                p(class=" text-sm text-gray-500 md:text-base/relaxed lg:text-xl/relaxed xl:text-base/relaxed  ")
                    | The Ford Focus comes with a suite of advanced safety features to help keep you and your passengers safe on the road  From automatic emergency braking to lane-keeping assist, the     Focus has you covered. 

    if (!user)
        div(class="flex flex-col px-5 py-8 items-center lg:justify-center")
            div(class="w-100 flex flex-col lg:flex-row items-center lg:justify-around mb-5")
                div(class="w-75 lg:w-1/2")
                    img(src="https://st2.depositphotos.com/1007566/7333/v/450/depositphotos_73338379-stock-illustration-office-design.jpg")
                div(class="w-full lg:w-50 my-auto")
                    p.text-3xl.uppercase.font-bold Become A freeLancer 
                    p.text-gray-700.pt-3.my-3 Unlocking creative potential through freelance services. Tailored content creation, design, and consulting. Elevate your brand with expertise in writing, graphic design, and digital marketing. Let's bring your vision to life
                    div.flex 
                        a.px-3.py-2.bg-black.text-white.rounded(id="freelancerFormBtn" href="/freesignup") Fill the Form
            div(class="w-100 flex flex-col lg:flex-row-reverse items-center justify-around")
                div(class="w-full lg:w-1/2 ")
                    img(src="https://static.vecteezy.com/system/resources/previews/002/098/717/original/office-workers-sitting-at-round-table-and-discussing-ideas-illustration-concept-of-business-workflow-time-management-planning-task-app-teamwork-meeting-cartoon-character-flat-design-vector.jpg")
                div(class="w-full lg:w-50 my-auto")
                    p.text-3xl.uppercase.font-bold Become A Project Assigner
                    p.text-gray-700.pt-3.my-3 Unlocking creative potential through freelance services. Tailored content creation, design, and consulting. Elevate your brand with expertise in writing, graphic design, and digital marketing. Let's bring your vision to life
                    div.flex 
                        a.px-3.py-2.bg-black.text-white.rounded(id="projectAssignFormBtn" href="/assignsignup") Fill the Form 



    if (user)
        if (user.role == 'assign')
            div(class="w-100 flex flex-col lg:flex-row-reverse items-center justify-around")
                div(class="w-full lg:w-1/2 ")
                    img(src="https://img.freepik.com/premium-vector/deadline-job-time-freelance-home-work-concept-graphic-design-illustration_385073-1267.jpg")
                div(class="w-full lg:w-50 my-auto")
                    p.text-3xl.uppercase.font-bold Publish a Project
                    p.text-gray-700.pt-3.my-3 Get the quality freelancer to complete your work on time with the communication and choice between the freelancers to selce best one of it , who will get it done for you 
                    div.flex 
                        a.px-3.py-2.bg-black.text-white.rounded(id="" href="/createBitForm") Fill the Form 


    if (user)
        if (user.role == 'user')
            .flex.justify-around.flex-wrap.space-y-5
                each p in project
                    div(class=" max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow w-full lg:w-1/3 hover:scale-105 ease-in")
                        h5(class=" mb-2 text-2xl font-bold tracking-tight text-gray-900 ")=p.projectName
                        p(class=" mb-3  font-bold") Title : 
                            span(class="font-normal")=`  ${p.title} `
                        p(class=" mb-3  font-bold") About : 
                            span(class="font-normal")=`  ${p.about} `
                        p(class=" mb-3  font-bold") To be completed in : 
                            span(class="font-normal")=`  ${p.duration} `
                        p(class=" mb-3  font-bold") Price : 
                            span(class="font-normal")=`  ${p.price} `
                        p(class=" mb-3  font-bold") Deadline : 
                            span(class="font-normal")=`  ${p.deadline} `
                        p(class=" font-bold ") Description : 
                            div(class="font-normal text-gray-500 text-base my-3")=`  ${p.description} `
                        a.inline-flex.items-center.px-3.py-2.text-sm.font-medium.text-center.text-white.bg-black.rounded-lg.hover.cursor-pointer
                            | Get the project


